/* 
app: 100 %

area--title: 30 %
余白: 40%
area--btn: 30%
*/

.area--title {
    flex: 3;

    /* コンテンツは下に寄せる */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.area--spacer {
    flex: 4;
}

.area--btn {
    flex: 3;

    /* コンテンツは上に寄せる */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}