/* 
app: 100 %

area--title: 30 %
余白: 40%
area--btn: 30%
*/

/* リセット CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0; /* 余白の削除 */
}

.app {
    margin-top: 0; /* 画面上部の余白の削除 (margin の相殺によるもの) */
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.area--title {
    flex: 3;
    background-color: gold;
    
    /* コンテンツは下に寄せる */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.area--spacer {
    flex: 4;
    background-color: lightgreen;
    /* コンテンツは下に寄せる */
}

.area--btn {
    flex: 3;
    background-color: orange;
    /* コンテンツは上に寄せる */
}