.screen-select-option .area--app-body .area--body .area--consider-settlement .option-title {
    flex: 50;

    display: flex;
    align-items: center;

    font-size: clamp(2.25px, 4.5vw, 54px);
    gap: clamp(2px, 4vw, 48px);
}

.screen-select-option .area--app-body .area--body .area--consider-settlement .field {
    --height: clamp(3px, 6vw, 72px);

    flex: 50;

    display: flex;
    align-items: center;

    font-size: var(--height);
    gap: clamp(1px, 2vw, 24px);
}

.screen-select-option .area--app-body .area--body .area--consider-settlement .field input {
    font-size: inherit;
    width: clamp(12px, 24vw, 288px);
    height: var(--height);
}