.screen-selectOption .area--consider-settlement .area--spacer {
    flex: 5;
}

.screen-selectOption .area--consider-settlement .area--body {
    flex: 95;
    display: flex;
    flex-direction: column;

    gap: clamp(3px, 6vw, 72px);
}

.screen-selectOption .area--consider-settlement .area--body .option-title {
    flex: 50;

    display: flex;
    align-items: center;

    font-size: clamp(2.25px, 4.5vw, 54px);
    gap: clamp(2px, 4vw, 48px);
}

.screen-selectOption .area--consider-settlement .area--body .field {
    --height: clamp(3px, 6vw, 72px);

    flex: 50;

    display: flex;
    align-items: center;

    font-size: var(--height);
    gap: clamp(1px, 2vw, 24px);
}

.screen-selectOption .area--consider-settlement .area--body .field input {
    font-size: inherit;
    width: clamp(12px, 24vw, 288px);
    height: var(--height);
}