.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .option-title {
    flex: 20;

    display: flex;
    align-items: center;

    font-size: clamp(2.25px, 4.5vw, 54px);
    gap: clamp(2px, 4vw, 48px);
}

.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .pay-a-lot,
.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .pay-a-little {
    flex: 40;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .payer-category {
    flex: 40;

    display: flex;
    align-items: center;

    font-size: clamp(2px, 4vw, 48px);
    gap: clamp(0.5px, 1vw, 12px);
}

.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .fields {
    flex: 60;
    
    --height: clamp(3px, 6vw, 72px);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--height);
    gap: clamp(1px, 2vw, 24px);
}

.screen-select-option .area--app-body .area--body .area--consider-difference-of-portion .fields .field input {
    font-size: inherit;
    width: clamp(12px, 24vw, 288px);
    height: var(--height);
}