.screen-selectOption .area--app-body .area--body .area--result .area--title {
    flex: 20;

    display: flex;
    align-items: center;
}

.screen-selectOption .area--app-body .area--body .area--result .area--title .title-result {
    font-size: clamp(2.25px, 4.5vw, 54px);
}

.screen-selectOption .area--app-body .area--body .area--result .area--others {
    flex: 80;

    display: flex;
    flex-direction: row;
}

.screen-selectOption .area--app-body .area--body .area--result .area--others .area--body > div {
    flex: 60;

    display: grid;
    grid-template-columns:
        clamp(10px, 20vw, 240px)   /* payer-category */
        clamp(3px, 6vw, 36px)      /* num-people */
        clamp(2px, 4vw, 48px)      /* unit-num-people */
        clamp(2px, 4vw, 48px)      /* ha */
        clamp(8px, 16vw, 192px)    /* amount */
        clamp(2px, 4vw, 48px);     /* unit-amount */

    align-items: center;
    column-gap: clamp(1px, 2vw, 24px);
}

.screen-selectOption .area--app-body .area--body .area--result .area--others .area--body > div > span {
    justify-self: end;
}

.screen-selectOption .area--app-body .area--body .area--result .area--others .area--body .amount {
    font-weight: bold;
}

.screen-selectOption .area--app-body .area--body .area--result .area--others .area--button {
    flex: 40;

    display: flex;
    flex-direction: column;
    justify-content: center;
}