/* 
app: 100 %

area--progress_tracker: 25 %
area--input: 50 %
area--btn: 25 %
*/

.screen-input .area--progress_tracker {
    flex: 1;

    /* コンテンツは下に寄せる */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.screen-input .area--input {
    flex: 2;
}

.screen-input .area--btn {
    flex: 1;

    /* コンテンツは上に寄せる */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}