.screen-input .area--input .area--spacer {
    flex: 5;
}

.screen-input .area--input .area--body {
    flex: 95;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(6px, 12vw, 144px);
}

.screen-input .area--input .area--body .field {
    display: flex;
    align-items: center;
    font-size: clamp(4px, 8vw, 96px);
    gap: clamp(2px, 4vw, 48px);
}

.screen-input .area--input .area--body .field input {
    font-size: inherit;
    width: clamp(18px, 36vw, 432px);
    height: clamp(4px, 8vw, 96px)
}